<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8" />
</head>

<body>

Bonjour,<br>
    <br>
    Vous êtes inscrit en tant que conducteur solidaire sur le site
    <a href="http://www.ehop-solidaires.fr" target="_blank">www.ehop-solidaires.fr</a>.<br>
    <br>
    Afin de vous contacter dans les meilleurs délais, merci de vérifier
    vos données personnels : téléphone, trajet, horaires...<br>
    Vous pouvez mettre à jour votre profil ou vous désinscrire en vous
    connectant à votre compte sur le site Ehop Solidaires ou en
    répondant à ce mail.<br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ehop Solidaires<br>
<img src="http://www.ehop-covoiturage.fr/uploads/images/WEB_HORIZONTAL_v2.jpg">

</body>

</html>
