<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8" />
</head>

<body>

Bonjour,<br>
<br>
Merci pour votre inscription en tant que conducteur solidaire ! <br>
<br>
Nous reviendrons vers vous si nous recevons une demande à laquelle
votre trajet correspond. <br>
En attendant, n'hésitez pas à compléter et à tenir à jour les
données (trajet, planning, coordonnées) de votre compte.<br>
<br>
Belle journée, <br>
<br>
L'équipe Ehop Solidaires<br>
<br>--
<br><br>
<img src="http://www.ehop-covoiturage.fr/uploads/images/WEB_HORIZONTAL_v2.jpg">

</body>

</html>
